body {
   margin:0;
}



header h1{
    width:100%;
    color:#87CEEB;
    font-family: arial;
    font-size:16px;
    text-align:center;
    margin:20px 0px;
}

#banner1{
    background: url(imagens/banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align:center;
}
#oclube{
    width:70%
}
#imagenslogo{
	width:100%;
}


#logo img{
	width:70%;
	margin-top:15%;
	margin-bottom:2%;
}

#imagensbanner img{
	width:45%;
	margin-top:2%;
	margin-bottom:15%;
}

#imagensdesc div img {
width:15%;}

header p{
	width:100%;
    color:#000000;
    font-family: arial;
    font-size:14px;
    text-align:justify;

}

article {

}

footer p{
 font-style: italic;
}
