
/* Tamanho Padrão*/

body {
   margin:0;
}
figure{
margin:0;
}

#clubesection h1{
    width:100%;
    color:#87CEEB;
    font-family: arial;
    font-size:16px;
    text-align:center;
    margin:20px 0px;
}

#clubesection p{
	width:100%;
    color:#000000;
    font-family: arial;
    font-size:14px;
    text-align:justify;
}

#banner1{
    background: url(imagens/banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align:center;
}
#oclube{
    width:70%
}
#imagenslogo{
	width:100%;
}

#logo img{
	width:70%;
	margin-top:15%;
	margin-bottom:2%;
}

#imagensbanner img{
	width:45%;
	margin-top:2%;
	margin-bottom:15%;
}

#imagensdesc{
margin-bottom:5%;
width:100%;
}
#organizador{
}

#imagensdesc div div{
display:inline-block;
width:15%;
margin:2%;

}

#imagensdesc div div figure img {
width:100%
}

#banner2{
    background: url(imagens/visao.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align:center;
	float:left;
	width:100%;
}

#esquerda{
float:left;
width:30%;
font-size:17px;
color:#ffffff;
margin-left:10%;
}

#visao{
margin-top:18%;
}

#missao{
margin-top:15%;
}

#valores{
margin-top:15%;
margin-bottom:18%;
}

footer p{
 font-style: italic;
}
